.navbar {
  min-height: 12px;
}
.logo-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
/*.img-responsive {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}
.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}*/