.App {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: rgb(63, 206, 84);
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
img{
  height: 300px;
  width: 300px;
}
label,
input {
  display: block;
  width: 100%;
}
label {
  margin-bottom: 5px;
  height: 22px;
}
.back{
  background-color:rgb(234, 240, 241);
  height:100vh
}
body{
  background-color:rgb(17, 161, 209);
  height: 100vh; 
}
input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(32, 172, 128);
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color:#4658b3;
  color: white;
  border: 1px solid #4658b3;
  background-color: 250ms;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(57, 37, 206)
}
